@model MeuEstoque.Models.Classes.Usuario

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.HiddenFor(m => m.Id, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "E-mail")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NomeCompleto, "Nome Completo")
        @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Senha, "Senha")
        @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SenhaConfirmada, "Confirme a senha")
        @Html.TextBoxFor(m => m.SenhaConfirmada, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SenhaConfirmada, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Salvar" class="btn btn-default"/>
}
<br />
    @Html.ActionLink("Voltar", "Editar")
