@model MeuEstoque.Models.Classes.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "E-mail")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Senha, "Senha")
        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
    </div>

        <input type="submit" value="Logar" />
}
<br />
@Html.ActionLink("Registrar novo usuário", "CriarUsuario", "Usuario", new { @class = "btn btn-success" })